<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlearn" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- CAMERA (Truy cập camera) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- READ_EXTERNAL_STORAGE (Truy cập ảnh QR từ thư viện) -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnLearn"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".activity.learn_demo.LearnDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.payment_online_method.PaymentOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.payment_razor_wallet.RazorPayWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.payment_vnpay_wallet.VNPayWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.payment_momo_wallet.MomoWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.payment_online_method.PaymentOnlineWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.payment_methods.PaymentMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pay_successfully.PaySuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pay_edit.PayEditUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.terms.TermsOfUseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.change_pass_forget.ChangePassForgetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.after_regist.AfterRegistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.introduction.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.change_profile.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.rating.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.excercise.ExcerciseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.lesson.LessonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chapter.ChapterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.classroom_detail.ClassroomDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.coupon_wallet.CouponWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pay_offline.PayOfflineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail_course.DetailCourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.category_courses.KhoaHocTheoLoaiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chatbot.SupportChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.classroom.ClassRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.category_small.LoaiKhoaHocActivity"
            android:exported="false" />
        <activity
            android:name=".activity.category_big.DanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".activity.coupon.CouponActivity"
            android:exported="false" />
        <activity
            android:name=".activity.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forget_pass.ForgetpassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile_user.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.change_pass.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>