<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlearn">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnLearn"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.introduction.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.change_profile.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.rating.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.excercise.ExcerciseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.lesson.LessonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chapter.ChapterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.classroom_detail.ClassroomDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.coupon_wallet.CouponWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pay.PayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail_course.DetailCourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.category_courses.KhoaHocTheoLoaiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chatbot.SupportChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.classroom.ClassRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.category_small.LoaiKhoaHocActivity"
            android:exported="false" />
        <activity
            android:name=".activity.category_big.DanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".activity.coupon.CouponActivity"
            android:exported="false" />
        <activity
            android:name=".activity.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forget_pass.ForgetpassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile_user.UserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.register.RegisterActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.change_pass.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>